@font-face {
    font-family: "JUST Regular";
    src: url("fonts/just_reg.otf");
}

@font-face {
    font-family: "PPD Light";
    src: url("fonts/ppd_light.otf");
}

@font-face {
    font-family: "PPD Regular";
    src: url("fonts/ppd_reg.otf");
}

@font-face {
    font-family: "PPD Medium";
    src: url("fonts/ppd_med.otf");
}

@font-face {
    font-family: "PPD Semibold";
    src: url("fonts/ppd_semi_bold.otf");
}

@font-face {
    font-family: "PPD Bold";
    src: url("fonts/ppd_bold.otf");
}

@font-face {
    font-family: "PPD Black";
    src: url("fonts/ppd_black.otf");
}

:root {
    --background: #F0F0F0;
    --text_1: #0F0F0F;
    --text_2: #484848;
    --text_3: #808080;
    --text_4: #B7B7B7;
    --blue: #B6E5F2;
    --yellow: #F7E5A1;
    --green: #B6F2C2;
    --red: #FFB5B3;
    --purple: #C4B3FF;
    --alter_red: #EE7777;
    --changes_red: #E3D2CC;
    --changes_green: #C5D4C5;
    --changes_blue: #BDD5D9;
    --changes_yellow: #D9D7BF;
    --changes_purple: #D6CCDB;

    --black: #0F0F0F;
    --darkgrey: #484848;
    --lightgrey: #B7B7B7;
    --white: #F0F0F0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, 
body {
    width: 100%;
    height: 100vh;
    background: var(--background);
}

body::-webkit-scrollbar {
	display: none;
}

.lockScroll {
    max-height: 100vh;
    overflow: hidden;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#Preload {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background);
    z-index: 800;
}

#logo_stag {
    position: absolute;
    height: auto;
    width: min(29.1vh, 87.5vw);
    stroke: var(--text_1);
    stroke-width: 0px;
    fill-opacity: 0;
    stroke-dasharray: 1;
    opacity: 0;
    animation: draw_logo 5s ease;
}

.logo_stag {
    height: auto;
    width: min(30vh, 90vw);
    opacity: 1;
    animation: fade_in_logo 5s ease;
}


/* 

~ Start Welcome Area ~

*/
#dark_light_switch {
    height: auto;
    width: 3.5vmax;
}

.dark_light_switch {
    position: absolute;
    top: 1.5vmax;
    right: 1.5vmax;
    cursor: pointer;
}

#dark_light_switch .switch_bottom.active {
    fill: var(--darkgrey);
    transition: 300ms fill 0ms;
}

#dark_light_switch .switch_bulb.active {
    fill: var(--white);
    transition: 500ms fill 100ms;
}

#dark_light_switch .switch_shine.active {
    scale: 100%;
    fill: var(--white);
    transition: 1s fill 1000ms;
}

#dark_light_switch .switch_bottom {
    fill: var(--black);
    transition: 300ms fill 0ms;
}

#dark_light_switch .switch_bulb {
    fill: var(--lightgrey);
    transition: 500ms fill 100ms;
}

#dark_light_switch .switch_shine {
    fill: var(--white);
    transition: 1s fill 1000ms;
}

main {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--background);
}

#Start {
    position: relative;
    background: var(--background);
    transition: 300ms background 0ms;
    z-index: 500;
    min-height: 100%;
    cursor: default;
}

#Start.darken {
    background: var(--black);
    transition: 300ms background 0ms;
}

#Start.lighten {
    background: var(--white);
    transition: 300ms background 0ms;
}

.tag_name {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.tag_name .web_name {
    color: var(--text_4);
    font-family: "PPD Light";
    font-size: min(18.7vw, 35vh);
    width: 100%;
    transition: 300ms color 0ms;
}

.tag_name .year_semester {
    color: var(--text_2);
    font-family: "PPD Medium";
    font-size: min(3.8vw, 7vh);
    width: 100%;
    transition: 300ms color 0ms;
}

.tag_name .creator {
    color: var(--text_3);
    font-family: "PPD Light";
    font-size: 2vmin;
    width: 100%;
    transition: 300ms color 0ms;
}

.tag_name .creator .me {
    color: var(--text_3);
    font-weight: 200;
    transition: 300ms font-weight 0ms, 300ms color 0ms;
    cursor: pointer;
}

.tag_name .creator:hover .me {
    color: var(--text_1);
    font-weight: 600;
    transition: 300ms font-weight 0ms, 300ms color 0ms;
}

.tag_name.darken .web_name {
    color: var(--darkgrey);
    transition: 300ms color 0ms;
}

.tag_name.darken .year_semester {
    color: var(--lightgrey);
    transition: 300ms color 0ms;
}

.tag_name.lighten .web_name {
    color: var(--lightgrey);
    transition: 300ms color 0ms;
}

.tag_name.lighten .year_semester {
    color: var(--darkgrey);
    transition: 300ms color 0ms;
}

.nav_down {
    position: absolute;
    width: 100%;
    top: 93%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.nav_down h3 {
    position: relative;
    bottom: min(2.5em, .9vh);
    font-family: "PPD Light";
    color: var(--text_2);
    font-size: min(1em, 1.5vh);
    transition: 300ms color 0ms;
}

.nav_down.darken h3 {
    color: var(--lightgrey);
    transition: 300ms color 0ms;
}

.nav_down.lighten h3 {
    color: var(--darkgrey);
    transition: 300ms color 0ms;
}

.nav_down .arrow_down {
    position: relative;
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.arrow_down .arrow {
    display: block;
    height: 5px;
    width: 10px;
    margin: -1px;
    animation: down_animation 2s infinite;
}

.arrow_down .arrow span {
    display: flex;
    position: absolute;
    width: min(1em, 1.5vh);
    height: 1.2px;
    background-color: var(--text_2);
    transition: 300ms background-color 0ms;
}

.nav_down.darken .arrow span {
    background-color: var(--lightgrey);
    transition: 300ms background-color 0ms;
}

.nav_down.lighten .arrow span {
    background-color: var(--darkgrey);
    transition: 300ms background-color 0ms;
}

.arrow_down .arrow span:nth-child(1) {
    transform: rotate(45deg);
}

.arrow_down .arrow span:nth-child(2) {
    transform: rotate(-45deg);
    margin-left: min(1.06vh, .75em);
}

.arrow_down .arrow:nth-child(2) {
    animation-delay: -.2s;
    transform: translateY(8px);
}

.arrow_down .arrow:nth-child(3) {
    animation-delay: -.4s;
    transform: translateY(0px);
}

/* 

~ Schedule Area ~

*/
#Schedule {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 505;
}

.navigation_wrapper {
    position: relative;
    width: 100%;
    margin-top: min(10vw, 6vh);
    padding-bottom: 1.5vh;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row wrap-reverse;
    flex-grow: 0;
    justify-content: space-between;
    gap: 1vh;
    z-index: 650;
}

.dropdown_picker {
    width: max(40vw, 30em);
    margin-left: 5vw;
    max-width: 90vw;
    height: 100%;
    position: relative;
    z-index: 300;
}

.dropdown_picker .trigger .placeholder{
    font-family: "PPD Medium";
    font-size: max(2vh, 0.5vw);
    background: var(--background);
    color: var(--text_2);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: max(8vh, 3em);
    padding: .87em 4em .8em 1.5em;
    z-index: 1;
    cursor: pointer;
    border-radius: 5em 5em;
    border-top: 2px solid var(--text_1);
    border-bottom: 2px solid var(--text_1);
    border-left: 2px solid var(--text_1);
    border-right: 2px solid var(--text_1);
    transition: 200ms border-radius ease-in-out 250ms,
    100ms color ease 150ms,
    100ms border-bottom ease-in-out 150ms;
}

.dropdown_picker .trigger.active .placeholder {
    border-radius: min(2vmax, 1.5em) min(2vmax, 1.5em) 0 0;
    border-bottom: 0px solid var(--text_1);
    color: var(--text_3);
    transition: 200ms border-radius ease-in-out 0ms,
    100ms color ease 300ms,
    100ms border-bottom ease-in-out 150ms;
}

.dropdown_picker .trigger ul.selection {
    background: var(--background);
    overflow-wrap: break-word;
    position: absolute;
    list-style: none;
    border-radius: 0 0 0 0;
    width: 100%;
    height: 85vh;
    max-height: 70vh;
    overflow: auto;
    transform: scaleY(0);
    transform-origin: top;
    padding-top: 1.5vh;
    border-bottom: 2px solid var(--text_1);
    border-left: 2px solid var(--text_1);
    border-right: 2px solid var(--text_1);
    transition: 200ms transform ease-in-out 0ms;
}

.dropdown_picker .trigger.active ul.selection {
    transform: scaleY(1);
    transition: 200ms transform ease-in-out 250ms;
}

.dropdown_picker .trigger ul.selection::-webkit-scrollbar {
    width: .4em;
    cursor: pointer;
}

.dropdown_picker .trigger ul.selection::-webkit-scrollbar-track {
    background-color: var(--background);
}

.dropdown_picker .trigger ul.selection::-webkit-scrollbar-thumb {
    background-color: var(--text_1);
}

.dropdown_picker .trigger ul.selection li {
    width: 100%;
    padding: min(2vh, 1em) 1.5em;
    z-index: 0;
    justify-content: flex-start;
    border-left: 0px solid var(--background);
    border-bottom: 1px dashed var(--text_4) ;
    transition: 200ms border-left ease 200ms;
    cursor: pointer;
}

.dropdown_picker .trigger ul.selection li:last-of-type {
    margin-bottom: 3.5vh;
}

.dropdown_picker .trigger ul.selection li p {
    font-family: "PPD Regular";
    font-size: max(2.2vh, 0.5vw);
    text-decoration: none;
    color: var(--text_3);
    height: 100%;
    align-items: center;
    transition: 100ms color ease 0ms, 
    100ms font-family ease 0ms;
}

.trigger .wrapper .dropdown_icon {
    top: 0;
    right: 1.5em;
    position: absolute;
    width: calc(100% - 1.5em);
    height: 100%;
    cursor: pointer;
}

.trigger .wrapper .dropdown_icon span {
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    position: absolute;
    width: min(1em, 1.5vh);
    height: 2px;
    background-color: var(--text_1);
}

.trigger .wrapper .dropdown_icon span:nth-child(1) {
    right: min(.65em, 1vh);
    transform: rotate(45deg);
    transition: 200ms transform ease 250ms;
}

.trigger .wrapper .dropdown_icon span:nth-child(2) {
    right: 0;
    transform: rotate(-45deg);
    transition: 200ms transform ease 250ms;
}

.trigger.active .wrapper .dropdown_icon span:nth-child(1) {
    transform: rotate(-45deg);
    transition: 200ms transform ease 250ms;
}
.trigger.active .wrapper .dropdown_icon span:nth-child(2) {
    transform: rotate(45deg);
    transition: 200ms transform ease 250ms;
}

.role_picker {
    position: relative;
    margin: 0 5vw;
    width: max(25vw, 19em);
    max-width: 90vw;
    height: max(8vh, 3em);
    max-height: min(10vh, 4.8em);
    z-index: 250;
    cursor: pointer;
}

.role_picker .role_switch {
    position: relative;
    display: flex;
    width: 100%;
    height: max(8vh, 3em);
    max-height: min(10vh, 4.8em);
    border-radius: 3em;
    cursor: pointer;
}

.role_picker .role_switch input{
    appearance: none;
    width: 100%;
    height: 100%;
    border-radius: 5em;
    background: var(--background);
    border: 2px solid var(--text_1);
    position: relative;
    transition: 0.25s;
    cursor: pointer;
}

.role_picker .role_switch input::before,
.role_picker .role_switch input::after {
    z-index: 275;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: "PPD Medium";
    font-size: max(2vh, 0.5vw);
}

.role_picker .role_switch input::before {
    content: "Guru";
    left: 1.5em;
}

.role_picker .role_switch input::after {
    content: "Kelas";
    right: 1.5em;
}

.role_picker .role_switch label {
    position: absolute;
    z-index: 265;
    top: 4px;
    bottom: 4px;
    left: 4px;
    border-radius: 5em;
    height: calc(max(8vh, 3em) - 8px);
    max-height: calc(min(10vh, 4.8em) - 8px);
    transition: 0.5s left, 0.4s right 0.2s;
    cursor: pointer;
}

.role_picker .role_switch input:checked::before {
    color: var(--text_1);
    transition: 0.5s color ease;
}
.role_picker .role_switch input:checked::after {
    color: var(--background);
    transition: 0.5s color ease;
}

.role_picker .role_switch input:checked+label {
    left: 50%;
    right:4px;
    background: var(--text_1);
    transition: 0.5s right, 0.4s left 0.2s;
}

.role_picker .role_switch input:not(:checked)::before {
    color: var(--background);
    transition: 0.5s color ease;
}

.role_picker .role_switch input:not(:checked)::after {
    color: var(--text_1);
    transition: 0.5s color ease;
}

.role_picker .role_switch input:not(:checked)+label {
    left: 4px;
    right: 50%;
    background: var(--text_1);
    transition: 0.5s left, 0.4s right 0.2s;
}

.schedule_nav {
    position: relative;
    height: 9.5vh;
    width: 100%;
    margin-top: min(5vh, 2vw);
    display: flex;
    justify-self: center;
    align-items: center;
    z-index: 200;
}

.schedule_nav .year_month {
    position: absolute;
    padding-left: 5vw;
    margin-right: 30vw;
    font-family: "PPD Semibold";
    color: var(--text_1);
    font-size: min(9vw, 8vh);
}

.schedule_nav .nav_wrapper {
    position: absolute;
    right: 5vw;
    display: flex;
    flex-direction: row;
    height: 100%;
    max-width: 25vh;
    padding: 0 .2vw;
}

.nav_wrapper .prev {
    position: relative;
    margin-right: max(1.5vw, .5vh);
}

.nav_wrapper .next {
    position: relative;
}

.schedule_nav .nav_wrapper .prev #prev {
    width: min(8vw, 6.5vh);
    height: 100%;
}

.schedule_nav .nav_wrapper .next #next {
    width: min(8vw, 6.5vh);
    height: 100%;
}

.schedule_nav .nav_wrapper .circle.active {
    fill: var(--text_1);
    transform: 500ms fill ease;
    cursor: pointer;
}

.schedule_nav .nav_wrapper .circle {
    fill: var(--text_4);
    transform: 500ms fill ease;
    cursor: not-allowed;
}

.schedule_nav .nav_wrapper .icon {
    fill: var(--background);
}

.schedule_wrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: max(2vh, .7em);
    margin-top: 2vh;
    padding-top: 1vh;
    padding-bottom: 2vh;
    overflow-x: auto;
    overflow-y: hidden;
    flex-grow: 1;
    z-index: 100;
    top: 0;
}

.schedule_wrapper .schedule_container {
    position: relative;
    height: 100%;
    width: max-content;
}

.schedule_wrapper .schedule_container .track {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0 max(2vh, .7em);
    width: max-content;
    gap: max(2vh, .7em);
}

.schedule_wrapper .schedule_container .track .schedule_date {
    position: relative;
    height: 100%;
    width: max(40vh, 20vw);
    max-width: 93vw;
    border-radius: min(2vmax, 1.5em);
    overflow: auto;
    padding: 0 2vmin 2vmin 2vmin;
    border: 2px solid var(--text_1);
}

.schedule_date::-webkit-scrollbar {
    display: none;
}

.schedule_date .item_header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    padding-top: 1vmin;
    display: flex;
    flex-direction: column;
    background: var(--background);
    padding-bottom: 1vmax;
    width: 100%;
    z-index: 100;
}

.schedule_date .item_header .item_day {
    position: relative;
    font-family: "PPD Regular";
    height: fit-content;
    color: var(--text_4);
    font-size: min(12vw, 8vh);
    z-index: 10;
}

.schedule_date .item_header .item_day.active {
    color: var(--text_1);
}

.schedule_date .item_header .item_day.libur {
    color: var(--alter_red);
}

.schedule_date .item_header .item_date {
    position: relative;
    font-family: "PPD Light";
    color: var(--text_2);
    font-size: min(9vw, 5.5vh);
    height: fit-content;
}

.schedule_date .item_wrapper{
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    z-index: 50;
}

.schedule_date .item_wrapper .item_container {
    position: relative;
    width: 100%;
}

.schedule_date .item_wrapper .item_container .spacer {
    position: relative;
    width: 100%;
    height: 1vh;
}

.schedule_date .item_wrapper .item_container .item_schedule{
    position: relative;
    display: flex;
    flex-direction: row;
    margin: max(1vh, .35em) 2px;
    border-radius: .7em;
    border: 2px solid var(--text_1);
    overflow: hidden;
}

.schedule_date .item_wrapper .item_container .item_schedule .item_label {
    width: 1.1em;
}

.item_label.red {
    background: var(--red);
}

.item_label.green {
    background: var(--green);
}

.item_label.blue {
    background: var(--blue);
}

.item_label.yellow {
    background: var(--yellow);
}

.item_label.purple {
    background: var(--purple);
}

.item_label.non {
    background: var(--text_1);
}

.item_schedule.red {
    background: var(--changes_red);
}

.item_schedule.green {
    background: var(--changes_green);
}

.item_schedule.blue {
    background: var(--changes_blue);
}

.item_schedule.yellow {
    background: var(--changes_yellow);
}

.item_schedule.purple {
    background: var(--changes_purple);
}

.schedule_date .item_wrapper .item_container .item_schedule .inner_item {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 1vh max(1vh, .35em) 1vh 1vh;
    padding-left: 2px;
}

.time_and_name {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    min-width: 100%;
    margin-bottom: .5em;
}

.item_time {
    font-family: "JUST Regular";
    color: var(--text_1);
    font-size: min(6vw, 3vh);
    font-weight: 600;
}

.item_name {
    font-family: "PPD Regular";
    color: var(--text_2);
    font-size: min(4vw, 2vh);
}

.class_name {
    font-family: "PPD Semibold";
    color: var(--text_3);
    font-size: min(3.5vw, 2.5vh);
}

.teacher_name {
    font-family: "PPD Bold";
    color: var(--text_3);
    font-size: min(3vw, 1.4vh);
}

.download_btn {
    position: relative;
    width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    top: 100%;
    background-color: var(--text_1);
    z-index: 1000;
    transition: 1s top ease-in-out;
}

.download_btn.active {
    top: 0%;
    cursor: pointer;
    transition: 1s top ease-in-out;
}

.download_btn span {
    font-family: "PPD Semibold";
    color: var(--background);
    font-size: min(6vw, 3vh);
    cursor: pointer;
}


/* Hover No Hover Area */
@media (hover: hover) {
    .dropdown_picker .trigger ul.selection li:hover {
        border-left: 5px solid var(--text_1);
        transition: 200ms border-left ease 0ms;
    }

    .dropdown_picker .trigger ul.selection li:hover p {
        color: var(--text_2);
        font-family: "PPD Medium";
        transition: 50ms color ease 200ms, 
        50ms font-family ease 200ms;
    }

    .schedule_wrapper::-webkit-scrollbar {
        height: .4em;
        cursor: pointer;
    }

    .schedule_wrapper::-webkit-scrollbar-track {
        background-color: var(--background);
    }

    .schedule_wrapper::-webkit-scrollbar-thumb {
        background-color: var(--text_4);
        cursor: pointer;
    }
}

@media (hover: none) {
    .dropdown_picker .trigger ul.selection li p {
        color: var(--text_2);
        font-family: "PPD Medium";
    }
}


/* Animation Area */

@keyframes draw_logo {
    0% {
        stroke-dasharray: 1;
        stroke-width: 0px;
        opacity: 1;
    }
    87% {
        stroke-dasharray: 2500;
        stroke-width: 3px;
        opacity: 1;
    }
    100% {
        stroke-dasharray: 1;
        stroke-width: 0px;
        opacity: 0;
    }
}

@keyframes fade_in_logo {
    0% {
        opacity: 0;
    }
    85% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes down_animation {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(8px);
    }
}


